*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: none;
    overflow-x: none;
}

body, html{
    height: 100%;
}

.bgimg{
    background-image: url("../images/loginBackground.jpg");
    filter: blur(8px);
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.loginForm{
    position: absolute;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.25);
    border: 1px solid #ffffff;
    height: 50vh;
    width: 20vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.login{
    margin-top: 25%;
}

label{
    color:white;
    font-size: 1.5em;
}

.loginInput{
    font-size: 1.5em;
    width: 75%;
}

.submitInput{
    font-size: 1.25em;
}

#result{
    color: white;
    font-size: large;
}

